/*--------------------------------------------------------------
# Start contact page
--------------------------------------------------------------*/

.contact_page {
    .icon-box {
        margin-bottom: 30px;
        .icon-box-icon {
            margin: 0 0 15px;
            color: $mainColor;
            font-size: 52px;
        }
        .icon-box-title {
            font-size: 18px;
            line-height: 1.3;
            margin-bottom: 5px;
        }
        p {
            font-size: 14px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}


/*--------------------------------------------------------------
# End contact page
--------------------------------------------------------------*/