@mixin start_FadeInDown {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

@mixin animation_FadeInDown {
    animation: fadeInDown 1s both;
    -webkit-animation: fadeInDown 1s both;
}

@mixin start_FadeInUp {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

@mixin animation_FadeInUp {
    animation: fadeInUp 1s both;
    -webkit-animation: fadeInUp 1s both;
}

@mixin start_FadeIn {
    opacity: 0;
}

@mixin animation_FadeIn {
    animation: fadeIn 1s both;
    -webkit-animation: fadeIn 1s both;
}